---
layout: base
description: Research area layout
---

<div class="row">
  <div class="col-md-10 col-lg-8 mx-auto">
    <h1>{{ page.title }}</h1>

    <p class="lead">{{ page.summary }}</p>

    {{ content }}

    <hr>

    <h2>Related Publications</h2>
    {% assign has_pubs = false %}
    <ul class="list-unstyled">
    {% for pub_item in site.data.publications %}
      {% assign pub = pub_item[1] %}
      {% if pub.research contains page.tag %}
        {% assign has_pubs = true %}
        {% include publication.html pub=pub hide_research=true %}
      {% endif %}
    {% endfor %}
    </ul>
    {% unless has_pubs %}
    <p class="text-muted">No publications available for this research area yet.</p>
    {% endunless %}

    <hr>
    <p><a href="{{ '/research/' | relative_url }}">&larr; Back to all research areas</a></p>
  </div>
</div>
